<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

        div img {
            width: 55%;
            cursor: pointer;
            transition: all 0.1s; /*图片放大过程的时间*/
        }

        div img:hover {
            transform: scale(1.2); /*鼠标经过图片放大的倍数*/
        }

        /*左侧菜单条目鼠标滑过之后变大*/
        .menu-a {
            font-size: 16px;
        }

        .menu-a:hover {
            font-size: 18px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../rewardpoints/static/images/favicon.jpg"></link>
    <title>学习平台-用户积分管理系统</title>

    <!--公共js，包括获得项目根路径等等-->
    <script type="text/javascript" src="../../rewardpoints/static/common.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../rewardpoints/static/css/bootstrap.min.css"></link>
    <!--表单table处理-->
    <link rel="stylesheet" href="../../rewardpoints/static/bootstrap3-editable/css/bootstrap-editable.css"></link>
    <link rel="stylesheet" href="../../rewardpoints/static/login/bootstrap-table.css"/>
    <link rel="stylesheet" href="../../rewardpoints/static/login/editable-element.css"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link type="text/css" href="../../rewardpoints/static/docs/assets/css/ie10-viewport-bug-workaround.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../../rewardpoints/static/css/style.css">
    <!-- Custom styles for this template -->
    <link href="../../rewardpoints/static/docs/examples/dashboard/dashboard.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../../rewardpoints/static/login/index.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/message.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/aes.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/pad-nopadding-min.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/mode-ecb-min.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/extensions/export/html2canvas.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/editable-element.js"></script>
    <script type="text/javascript"
            src="../../rewardpoints/static/docs/assets/js/ie8-responsive-file-warning.js"></script>
    <!--[endif]-->
    <script type="text/javascript"
            src="../../rewardpoints/static/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript"
            src="../../rewardpoints/static/extensions/addrbar/bootstrap-table-addrbar.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="../../rewardpoints/static/login/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/login/respond.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="../../rewardpoints/static/login/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript"
            src="../../rewardpoints/static/login/bootstrap-editable.js"></script>
    <script type="text/javascript"
            src="../../rewardpoints/static/extensions/editable/bootstrap-table-editable.js"></script>
    <!--bootstrap中文包避免后台返回给前台数据中文乱码-->
    <script type="text/javascript"
            src="../../rewardpoints/static/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/extensions/export/jquery.base64.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/extensions/export/bootstrap-table-export.js"></script>
    <script type="text/javascript" src="../../rewardpoints/static/extensions/export/tableExport.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <span id="uu" hidden="hidden">${sessionScope.user.userName}</span>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/rewardpoints/" style="font-size: 32px;line-height: 25px;">学习平台-积分管理系统</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="menuDiv">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">积分系统</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="../../rewardpoints/static/images/setUp.jpg" width="200" height="200"
                         class="img-responsive" alt="Generic placeholder thumbnail" onclick="config()">
                    <h4>用户积分规则配置</h4>
                    <!--<span class="text-muted">点此进行配置</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="../../rewardpoints/integrationExchange">
                        <img src="../../rewardpoints/static/images/333.jpg"
                             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    </a>
                    <h4>用户积分兑换信息</h4>
                    <!--<span class="text-muted">Something else</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="../../rewardpoints/integrationTraining">
                        <img src="../../rewardpoints/static/images/444.jpg"
                             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"
                             href="../../rewardpoints/integrationTraining">
                    </a>
                    <h4>用户培训积分信息</h4>
                    <!--<span class="text-muted">Something else</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="../../rewardpoints/integrationBasis">
                        <img src="../../rewardpoints/static/images/555.jpg"
                             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"
                             href="../../rewardpoints/integrationBasis">
                    </a>
                    <h4>用户积分汇总信息</h4>
                    <!--<span class="text-muted">Something else</span>-->
                </div>
            </div>

            <h2 class="sub-header">积分变更日志</h2>
            <div>
                <!-- /.积分变更日志显示位置 -->
                <table id="updScore" class="table table-hover"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myConfigListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" style="width:180%;height: 700px;margin-left:-180px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    积分配置列表
                </h4>
            </div>
            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar">
                <button type="button" class="btn btn-outline btn-default" onclick="addConfig()"><i
                        class="glyphicon glyphicon-plus" aria-hidden="true"></i>新增
                </button>
            </div>

            <table id="config" class="table"></table>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal-dialog -->

<div class="modal fade" id="myConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="updConfigForm">
                    <div class="form-group">
                        <label for="score_type" class="control-label">积分类别:</label>
                        <select id="score_type" class="form-control" name="score_type" value="${score_type}"
                                disabled="disabled">
                            <option value=''>请选择</option>
                            <option value='00001'>系统登陆</option>
                            <option value='00002'>课程学习</option>
                            <option value='00003'>课程评论</option>
                            <option value='00004'>恶意评论</option>
                            <option value='00005'>问卷调查</option>
                            <option value='00006'>分享课程</option>
                            <option value='00007'>作业精华</option>
                            <option value='00008'>问题点赞</option>
                            <option value='00009'>最大兑换人数</option>
                            <option value='00010'>最大兑换金额</option>
                            <option value='00013'>培训班结业</option>
                        </select>
                        <input type="text" id="updId" name="updId" hidden="hidden" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label for="score" class="control-label">分值/额度:</label>
                        <textarea class="form-control" id="score" maxlength="9"
                                  onkeyup="value=value.replace(/[^\-|\d]/g,'')"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label">有效标志:</label>
                        <select id="status" class="form-control" name="status" value="${status}">
                            <option value=''>请选择</option>
                            <option value='0'>有效</option>
                            <option value='1'>无效</option>
                        </select>
                    </div>
                    <div class="form-group" id="remark1Div" style="display: none">
                        <label for="remark1" class="control-label">类型:</label>
                        <textarea class="form-control" id="remark1" placeholder="两位类别码，没有则用N替代" onkeyup="value=value.replace(/[^0-9A-Z]/g,'')" maxlength="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="updConfig" onclick="updSave()">保存</button>
                <button type="button" class="btn btn-primary" id="addConfig" onclick="addSave()">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Bootstrap core JavaScript
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script type="text/javascript" src="../../rewardpoints/static/docs/assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="../../rewardpoints/static/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
    /**
     * 全局变量
     */
    var bashPath = "<%=basePath%>";
    var getwayListJson;
    var FTPROOTRECOMMENDIMAGE;
    /* 初始化弹出框关闭*/
    $('#myConfigModal').modal('hide');

    var param = {};
    var modelIndex = null;
    $('#myConfigListModal').modal('hide');

    function config() {
        $('#config').bootstrapTable('destroy');
        $('#myConfigListModal').modal('show');
        configQueryConfig();
    }

    function judgeNum(num) {
        /*首先判断第一位不可以是0*/
        if (num.length > 0 && num.substring(0, 1) == "0") {
            return null;
        }
        //判断长度大于0时候后边不能有‘-’。第一位可以是‘-’。
        if (num.length > 0) {
            num = num.substring(1, num.length);
            var reg = /[-]/gi;
            if (num.length > 0 && num.substring(0, 1) == "0") {
                return null;
            }
            if (reg.test(num.trim())) {
                return null;
            }
        }
        return '';
    }

    function updSave() {
        var code = $("#updId").val();
        var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
        // Encrypt
        //把私钥转换成16进制的字符串
        var encrypted = CryptoJS.AES.encrypt(code, key, {
            mode: CryptoJS.mode.ECB,
            padding: CryptoJS.pad.Pkcs7
        });
        code = encrypted.toString();
        var scoreType = $("#score_type").val();
        if ("" == scoreType || null == scoreType) {
            alertWarning('提示信息：情选择积分类别！');
            return;
        }
        var score = $("#score").val();
        if (judgeNum(score) == null) {
            alertWarning('提示信息：请输入正确的分数额度信息！');
            return;
        } else if (score == "") {
            score = "0";
        }
        var remark1 = $("#remark1").val();
        var status = $("#status").val();
        $.ajax({
            type: "POST",
            url: "app/updConfigure",
            contentType: "application/json",
            data: JSON.stringify({
                "id": code,
                "scoretype": scoreType,
                "score": score,
                "remark1": remark1,
                "status": status
            }),
            success: function (data, status) {
                var jsonObj = JSON.parse(data);
                if (status == "success" && jsonObj.code == "1000") {
                    alertSuccess('提示信息：操作成功！');
                    $('#myConfigModal').modal('hide');
                    $("#config").bootstrapTable('refresh');
                    // var opt = {url: "app/integralConfigure?format=json", silent: true };
                    // $('#config').bootstrapTable('refresh',opt);
                    // $("#config").bootstrapTable('refresh', opt);
                }
            },
            error: function () {
                alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
            },
            complete: function () {
            }
        });
    }

    function addSave() {
        var scoreType = $("#score_type").val();
        if ("" == scoreType || null == scoreType) {
            alertWarning('提示信息：情选择积分类别');
            return;
        }
        var score = $("#score").val();
        if (judgeNum(score) == null) {
            alertWarning('提示信息：请输入正确的分数额度信息！');
            return;
        } else if (score == "") {
            score = "0";
        }
        var remark1 = $("#remark1").val();
        var status = $("#status").val();
        $.ajax({
            type: "POST",
            url: "app/addConfigure",
            contentType: "application/json",
            data: JSON.stringify({
                "scoretype": scoreType,
                "score": score,
                "remark1": remark1,
                "status": status
            }),
            success: function (data, status) {
                var jsonObj = JSON.parse(data);
                if (status == "success" && jsonObj.code == "1000") {
                    alertSuccess('提示信息：操作成功！');
                    $('#myConfigModal').modal('hide');
                    $("#config").bootstrapTable('refresh');
                } else if (status == "success" && jsonObj.code == "1202") {
                    alertDanger('提示信息：新增失败，请检查参数是否规范！');
                } else if (status == "success" && jsonObj.code == "1001") {
                    alertDanger('提示信息：新增失败，请检查是否存在相同记录！');
                }

            },
            error: function () {
                alertDanger('提示信息：发生系统错误,请联系运维人员进行排查！');
            },
            complete: function () {
            }
        });
    }

    //查询积分变更日志列表
    $('#updScore').bootstrapTable({
        url: "app/queryScore",
        method: 'post',
        dataType: "json",
        queryParams: queryParams,
        classes: 'table',//边框
        undefinedText: '',//当数据为 undefined 时显示的字符
        pagination: true,//启动分页
        paginationLoop: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [1, 5, 10, 20, 100, 1000],
        showColumns: true,  //显示下拉框勾选要显示的列
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        showRefresh: true,  //显示刷新按钮
        showToggle: true,//显示一行是否改成竖着
        showPaginationSwitch: true,//是否显示 下面的分页框
        height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        search: false, //显示搜索框
        toolbal: '#toolbar',
        showExport: phoneOrPc(),              //是否显示导出按钮(此方法是自己写的目的是判断终端是电脑还是手机,电脑则返回true,手机返回falsee,手机不显示按钮)
        exportDataType: "basic",              //basic', 'all', 'selected'.
        cardView: false, //是否显示详细视图
        detailView: false, //是否显示父子表
        exportTypes: ['excel', 'xlsx'],	    //导出类型
        //exportButton: $('#btn_export'),     //为按钮btn_export  绑定导出事件  自定义导出按钮(可以不用)
        exportOptions: {
            //ignoreColumn: [0,0],            //忽略某一列的索引
            fileName: '数据导出',              //文件名称设置
            worksheetName: 'Sheet1',          //表格工作区名称
            tableName: 'integration_log',
            excelstyles: ['background-color', 'color', 'font-size', 'font-weight']
            //onMsoNumberFormat: DoOnMsoNumberFormat
        },
        detailFormatter: function (index, row) {
            return JSON.stringify(row);
        },
        columns: [{
            field: 'checkbox',
            title: 'checkbox',
            checkbox: true
        }, {
            field: 'number',
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        }, {
            field: 'id',
            title: '日志编号',
            align: 'center'
        }, {
            field: 'score',
            title: '分数',
            align: 'center'
        }, {
            field: 'last_time_score',
            title: '原分数',
            align: 'center'
        }, {
            title: '变更数额',
            field: 'upd_score'
        }, {
            title: '变更类型',
            field: 'score_type',
            align: 'center'
        }, {
            field: 'creation_dt',
            title: '创建日期',
            align: 'center'
        }, {
            field: 'creation_tm',
            title: '创建时间',
            align: 'center'
        }, {
            field: 'update_tm',
            title: '更新时间',
            align: '课程id'
        }, {
            field: 'ip',
            title: 'IP地址',
            align: 'center'
        }, {
            field: 'question_id',
            title: '问题id',
            align: 'center'
        }, {
            field: 'task_id',
            title: '作业id',
            align: 'center'
        }, {
            field: 'course_id',
            title: '课程id',
            align: 'center'
        }, {
            field: 'training_id',
            title: '培训id',
            align: 'center'
        }, {
            field: 'exchange_id',
            title: '兑换id',
            align: 'center'
        }, {
            field: 'logname',
            title: '',
            align: 'center',
            width: '7%',
            visible: false
        }, {
            field: '',
            title: '', /*操作*/
            align: 'center',
            formatter: function (value, row, index) {
                var d = '';
                // <a  style="display: block;margin-top:5px;" class="btn btn-info btn-xs" onclick="view(\'' + index + '\')">' +
                //     '<i class="glyphicon glyphicon-list-alt"></i>查看</a>
                return d;
            }
        }],
        onLoadSuccess: function (data) {
            $('#rollApplyTable').bootstrapTable('hideColumn', 'logname');// 设置隐藏列
            if (data.code == "1005") {
                $('#updScore').bootstrapTable('load', {total: 0, rows: []});
                // $('#scoreBasis').bootstrapTable('destroy');
            } else if (data.code != "1000") {
                alertWarning('提示信息：查询失败！');
                $('#updScore').bootstrapTable('load', {total: 0, rows: []});
            }
        },
        onLoadError: function () {
            alertWarning('提示信息：数据加载失败！');
        },
        onDblClickRow: function (contentlist, $element) {
            var logname = contentlist.logname;
            alertInfo('概述信息：' + logname);
            /*这里是点击每行数据触发事件*/
            // var id = contentlist.id;
            // var total = contentlist.total;
            // EditViewById(id, 'view');
        }
    });

    var formatData = function (data) {
        var l = [];
        for (var i = 0; i < data.contentlist.length; i++) {
            var m = data.contentlist[i];
            var d = {
                'id': m.id,
                'score_type': m.score_type,
                'last_time_score': m.last_time_score,
                'update_tm': m.update_tm,
                'upd_score': m.upd_score,
                'score': m.score
            };
            l.push(d);
        }
        return l;
    };

    //初始化得到查询的参数
    function queryParams(params) {
        //本号码表示查询列表专用特殊标识
        var userId = "1122-zzii122.11kkqqlloo";
        var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
        // Encrypt
        //把私钥转换成16进制的字符串
        var encrypted = CryptoJS.AES.encrypt(userId, key, {
            mode: CryptoJS.mode.ECB,
            padding: CryptoJS.pad.Pkcs7
        });
        userId = encrypted.toString();
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            // limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            pageSize: this.pageSize,
            pageNumber: this.pageNumber,
            qrytype: "5O4blFHH5T4=",
            userid: userId,
            length: 6
        };
        return temp;
    }

    //查询积分配置信息表
    function configQueryConfig() {
        $('#config').bootstrapTable({
            url: "app/integralConfigure",
            method: 'post',
            dataType: "json",
            classes: 'table',//边框
            undefinedText: '',//当数据为 undefined 时显示的字符
            paginationLoop: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [1, 5, 10, 20],
            striped: true,
            showColumns: false,  //显示下拉框勾选要显示的列
            pagination: false,                   //是否显示分页（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            showRefresh: true,  //显示刷新按钮
            showToggle: true,//显示一行是否改成竖着
            showPaginationSwitch: false,//是否显示 下面的分页框
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            search: false, //显示搜索框
            detailView: true,
            // toolbal: '#toolbar',
            toolbar: '#exampleTableEventsToolbar', /*可以在table上方显示的一条工具栏，*/
            detailFormatter: function (index, row) {
                return JSON.stringify(row);
            },
            columns: [{
                field: 'checkbox',
                title: 'checkbox',
                checkbox: true
            }, {
                field: 'number',
                title: '序号',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            }, {
                field: 'id',
                title: '积分配置id',
                align: 'center',
                hidden: true
            }, {
                field: 'score_type',
                title: '配置类型',
                align: 'center',
                formatter: function (value, row, index) {
                    return configType(value);
                }
            }, {
                field: 'score',
                title: '分值/额度',
                align: 'center'
            }, {
                field: 'status',
                title: '是否有效',
                align: 'center',
                disable: 'disable',
                formatter: function (value, row, index) {
                    return configStatusType(value);
                }
            }, {
                field: 'update_tm',
                title: '创建时间',
                align: 'center'
            }, {
                title: '备注字段',
                field: 'remark1'
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            }],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "POST",
                    url: "/edit",
                    data: {strJson: JSON.stringify(row)},
                    success: function (data, status) {
                        if (data.code == "1005") {
                            alertDanger('消息提示：数据为空！');
                        } else if (data.code != "1000") {
                            alertDanger('消息提示：编辑失败！');
                        } else {
                            alertSuccess('消息提示：编辑成功！');
                            $("#config").bootstrapTable('refresh');
                        }
                    },
                    error: function () {
                        alertWarning('提示信息：数据加载失败！');
                    },
                    complete: function () {
                    }
                });
            }
        })
    }

    function addConfig() {
        $("#updId").val("");
        /*清空id的值；*/
        $("#score").val("");
        /*清空score的值；*/
        $("score_type").val("");
        /*清空score_type的值；*/
        /*清空status的值；*/
        $("status").val("");
        $("#remark1").val("");
        /*清空remark1的值；*/
        $('#myConfigModal').modal('show');
        $("#updConfig").hide();
        $("#addConfig").show();
        document.getElementById("score_type").disabled = "";
    }


    $("#score_type").change(function () {
        var opt = $("#score_type").val();
        if (opt == '00013' || opt == '00006' || opt == '00002') {
            document.getElementById("remark1Div").style.display = "block";
        } else {
            document.getElementById("remark1Div").style.display = "none";
        }
    });

    window.operateEvents = {
        //初始化得到查询的参数
        'click .editConfig': function (e, value, row, index) {
            $("#updId").val("");
            /*清空id的值；*/
            $("#score").val("");
            /*清空score的值；*/
            $("score_type").val("");
            /*清空score_type的值；*/
            /*清空status的值；*/
            $("status").val("");
            $("#remark1").val("");
            $("#updId").val(row.id);
            $("#score").val(row.score);
            $("#score_type").val(row.score_type);
            $("status").val(row.status);
            $("#remark1").val(row.remark1);
            /*清空remark1的值；*/
            $('#myConfigModal').modal('show');
            $("#updConfig").show();
            $("#addConfig").hide();

        },
        'click .remove': function (e, value, row, index) {
            Ewin.confirm({message: "确认要删除选择的数据吗？"}).on(function (e) {
                if (!e) {
                    return;
                }
                var code = row.id;
                var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
                // Encrypt
                //把私钥转换成16进制的字符串
                var encrypted = CryptoJS.AES.encrypt(code, key, {
                    mode: CryptoJS.mode.ECB,
                    padding: CryptoJS.pad.Pkcs7
                });
                code = encrypted.toString();
                $.ajax({
                    type: "POST",
                    url: "app/deleteConfigure",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"id": code}),
                    success: function (data, status) {
                        var jsonObj = JSON.parse(data);
                        if (status == "success" && jsonObj.code == "1000") {
                            alertSuccess('提示信息：删除成功！');
                            $('#config').bootstrapTable('remove', {
                                field: 'id',
                                values: [row.id]
                            })
                        }
                    },
                    error: function () {
                        alertWarning('提示信息：删除失败！');
                    },
                    complete: function () {
                    }
                });
            });
        }
    }

    function operateFormatter(value, row, index) {
        return [

            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-trash"></i>',
            '</a>',
            '<a class="editConfig" href="javascript:void(0)" title="editConfig">',
            '<i class="glyphicon glyphicon-leaf"></i>',
            '</a>'
        ].join('');
    }

    /*判断终端是手机还是电脑--用于判断文件是否导出(电脑需要导出)*/
    function phoneOrPc() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            return false;
        } else {
            return true;
        }
    }

</script>
<script type="text/javascript">
    $.get("menu.html", function (mdata) {
        $("#menuDiv").html(mdata);
    })
</script>
</html>
