<ul class="nav nav-sidebar">
    <li class="active"><a href="#">概览信息 <span class="sr-only">(current)</span></a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/" style="color:black"><span
            class=" 	glyphicon glyphicon-home"></span>系统首页</a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationBasis" style="color:black"><span
            class="glyphicon glyphicon-user"></span>个人积分汇总信息</a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationCourse" style="color:black"><span
            class="glyphicon glyphicon-list-alt"></span>个人课程积分信息</a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationTraining" style="color:black"><span
            class="glyphicon glyphicon-flag"></span>个人培训积分信息</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationQuestionnaire" style="color:black"><span
            class="glyphicon glyphicon-open-file"></span>个人问卷调查汇总信息</a>
    </li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationExchange" style="color:black"><span
            class="glyphicon glyphicon-transfer"></span>个人积分兑换信息</a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationTask" style="color:black"><span
            class="glyphicon glyphicon-duplicate"></span>个人作业积分信息</a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationQuestion" style="color:black"><span
            class="glyphicon glyphicon-thumbs-up"></span>问题点赞积分</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li class="active"><a href="#">系统信息 <span class="sr-only">(current)</span></a></li>
    <li><a class="menu-a firstNav" href="../../rewardpoints/integrationDayend" style="color:black"><span
            class="glyphicon glyphicon-wrench"></span>系统跑批信息</a></li>
</ul>